@import '../abstracts/variables.scss';
@import '../abstracts/mixins/breakpoint.scss';
@import '../abstracts/mixins/focus.scss';

.movie-details.container-fluid {
    padding: 0 3rem 3rem;
    position: relative;

    @include breakpoint(map-get($bp, 'sm')) {
        padding: 0 2rem 3rem;
    }

    @include breakpoint(map-get($bp, 'xs')) {
        padding: 0 1rem 3rem;
    }

    .movie-details__background-image {
        height: auto;
        position: fixed;
        left: 0;
        min-height: 100%;
        min-width: 1080px;
        opacity: 0.4;
        top: 0;
        width: 100%;
    }

    .movie-details__z-index {
        height: 100%;
        padding: 0 1rem;
        position: relative;
        z-index: 1000;
    }

    .movie-details__link {
        background-color: $dark-grey;
        border: 0.15rem solid $light-blue;
        border-radius: 2.5rem;
        color: $light-blue;
        display: inline-block;
        font-size: map-get($fs, 'md');
        font-weight: 700;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: color $transition ease-in-out;
        width: fit-content;

        &:hover {
            color: $orange;
        }
        
        &:focus {
            @include focus($orange, false);
            color: $orange;
        }
    }

    .movie-details__header {
        align-items: center;
        background-color: $dark-grey;
        color: $white;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        margin-bottom: 3rem;
        padding: 1.5rem 3rem;

        h2,
        .movie-details__score {
            font-size: map-get($fs, 'lg');
            font-weight: 700;
            margin-bottom: 0;
            text-align: center;
        }

        .movie-details__score {
            align-items: center;
            color: $orange;
            display: flex;
            flex-wrap: wrap;

            span {
                white-space: nowrap;
            }
        }
    }

    .movie-details__body {
        background-color: rgba(37, 47, 52, 0.8);
        border-radius: 1rem;
        padding: 2rem;
        padding-bottom: 3rem;
    }

    .movie-details__tagline {
        color: $light-blue;
        font-size: map-get($fs, 'xl');
        font-style: italic;
        margin-bottom: 4rem;
        text-align: center;
    }
    
    p {
        color: $white;
        font-size: map-get($fs, 'md');
        margin: 0;
    }

    .movie-details__movie-data {
        align-items: center;
        column-gap: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 4rem;
        margin-bottom: 4rem;
        row-gap: 1rem;
    }

    .movie-details__genres {
        align-items: baseline;
        color: $white;
        display: flex;

        h4 {
            margin-right: 1rem;
            margin-bottom: 0;
        }

        span {
            color: orange;
            font-size: map-get($fs, "md");
        }
    }

    .movie-details__user-vote {
        font-size: map-get($fs, 'md');
        margin-top: 4rem;
        text-align: center;

        .movie-details__vote-form {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 0.5rem;

            select, 
            button {
                align-items: center;
                display: flex;
                height: 3.3rem;
                justify-content: center;
                margin-top: 0;
                text-align: center;
                width: 8rem;

                &:focus {
                    position: relative;
                    z-index: 1;
                }
            }

            select {
                border-radius: 50rem 0 0 50rem;
                border-right: 0.1rem solid $light-blue;
            }

            button {
                border-left: 0.1rem solid $light-blue;
                border-radius: 0 50rem 50rem 0;
            }
        }
        
        .movie-details__link {
            margin-top: 1rem;
        }
    }

    .movie-details__poster {
        border-radius: 1rem;
        width: 100%;

        @include breakpoint(map-get($bp, 'lg')) {
            width: 75%;
        }

        @include breakpoint(map-get($bp, 'md')) {
            width: 100%;
        }
    }

    .movie-details__error p {
        font-size: calc(1.325rem + .9vw);
    }
}
