@import '../abstracts/variables.scss';

.movie {
    background-color: $white;
    margin-bottom: 2rem;
    padding: 2rem;

    a {
        align-items: center;
        color: $dark-grey;
        display: flex;
        justify-content: space-between;
        text-decoration: none;

        &:hover, 
        &:focus {
            color: $dark-grey;
        }
    }

    img {
        width: 10rem;
        height: 100%;
    }

    &__body {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: map-get($fs, 'lg');
            font-weight: 700;
        }
    
        ul {
            list-style: none;
            font-size: map-get($fs, 'md');
            display: flex;
            padding: 0;
        }

        li {
            margin: 0 0.5rem;
        }
    }


    &__score {
        h2 {
            font-size: map-get($fs, 'lg');
            font-weight: 700;
        }

        p {
            font-size: map-get($fs, 'lg');
            margin-bottom: 0;
        }
    }
}
