@import '../abstracts/variables.scss';
@import '../abstracts/mixins/focus.scss';

.movie {
    align-items: center;
    background-color: $white;
    border: 0.15rem solid transparent;
    color: $dark-grey;
    display: flex;
    max-height: 20rem;
    text-decoration: none;
    transition: color $transition ease-in-out,
                transform $transition ease-in-out;
    padding: 2rem;

    &--last {
        margin-bottom: 3rem;
    }

    &:hover {
        color: $black;
        transform: scale(1.025);
    }
     
    &:focus {
        @include focus($orange, false);
        border-color: $black;
        color: $black;
        transform: scale(1.025);
    }

    img {
        margin-right: 2rem;
        max-height: 16rem;
        width: 40%;
    }

    &__body {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: map-get($fs, 'lg');
            font-weight: 700;
        }
    
        ul {
            list-style: none;
            font-size: map-get($fs, 'md');
            display: flex;
            padding: 0;
        }

        li {
            margin: 0 0.5rem;
        }
    }


    &__score {
        h2 {
            font-size: map-get($fs, 'lg');
            font-weight: 700;
        }

        p {
            font-size: map-get($fs, 'lg');
            margin-bottom: 0;
        }
    }
}
