@import '../abstracts/variables.scss';
@import '../abstracts/mixins/breakpoint.scss';
@import '../abstracts/mixins/focus.scss';

.movie-list {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        list-style: none;
        padding: 0 3rem 1rem;
        height: 67vh;
        overflow: auto;
    
        @include breakpoint(map-get($project-bp, 'lg')) {
            grid-template-columns: 1fr;
        }
    }
    
    &__loading {
        color: $orange;
        text-align: center;
        font-size: map-get($fs, 'xl') + 1rem;
        margin-bottom: 1.5rem;
        user-select: none;
    }
}
