@import '../abstracts/variables.scss';
@import '../abstracts/mixins/breakpoint.scss';
@import '../abstracts/mixins/focus.scss';

.movie-list {
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;

    &__text-wrapper {
        color: $white;
        padding: 0rem 3rem;

        h2 {
            font-size: map-get($fs, 'lg');
            font-weight: 700;
            margin-bottom: 2rem;
        }

        p {
            font-size: map-get($fs, 'md');
        }
    }

    &__search-bar {
        border: 0.2rem solid transparent;
        font-size: map-get($fs, 'md') + 0.2rem;
        margin-bottom: 2rem;
        padding: 1rem;
        width: 80%;

        &:focus {
            @include focus($orange, false);
            border-color: $black;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
        grid-gap: 2rem;
        list-style: none;
        margin: 0 1.5rem;
        max-height: 73vh;
        overflow: auto;
        padding: 1.5rem;

        &:focus {
            @include focus($orange, false);
        }
    }
    
    &__loading {
        color: $orange;
        text-align: center;
        font-size: map-get($fs, 'xl') + 1rem;
        margin-bottom: 1.5rem;
        user-select: none;
    }
}
