@import '../abstracts/variables.scss';

.page-not-found {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 8rem 1.5rem;
    text-align: center;

    h2 {
        color: $light-blue;
        font-size: map-get($fs, 'xl') + 1rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    p {
        color: white;
        font-size: map-get($fs, 'lg');
        margin-bottom: 2rem;
    }

    a {
        background-color: $dark-grey;
        border-radius: 2.5rem;
        color: $light-blue;
        font-size: map-get($fs, 'md');
        font-weight: 700;
        text-decoration: none;
        transition: color $transition ease-in-out;
        padding: 0.5rem 1rem;
        width: fit-content;

        &:hover,
        &:focus {
            color: $orange;
        }
    }
}
