@import '../abstracts/variables.scss';

* {
    box-sizing: border-box;
    font-family: $project-font;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
	min-width: 32rem;
	scroll-behavior: smooth;
}

body {
    height: 100%;
}

#root {
    background-color: $light-grey;
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    background-color: $light-grey;
}
