@import '../abstracts/variables.scss';

* {
    box-sizing: border-box;
    font-family: $project-font;
    margin: 0;
    padding: 0;
}

html,
.body,
#root,
.main {
    height: 100%;
}

html {
    font-size: 62.5%;
	min-width: 28rem;
	scroll-behavior: smooth;
}

.body {
    background-color: $dark-grey;
}

#root {
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: $light-grey;
}


/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $white;
    border-radius: 0.25rem; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #989898;
    border-radius: 0.25rem; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $orange; 
}
