/* Colors */
//$orange: #e69237;
$orange: #ffa748; // This version of orange is slightly more accesible
$light-grey: #384e58;
$dark-grey: #232f34;
$black: #141b1e;
$white: #f0f0f0;
$light-blue: #b7f1ff;

/* Fonts */
$project-font: 'Lato', sans-serif;

$fs: (
    'xl': 3.2rem,
    'lg': 2.4rem,
    'md': 1.6rem
);

/* BS Breakpoints */
$bp: (
    'xs': 438px,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px
);

/* Transitions */
$transition: 0.1s;
