@import '../abstracts/variables.scss';
@import '../abstracts/mixins/breakpoint.scss';
@import '../abstracts/mixins/focus.scss';

.footer.container-fluid {
    background-color: $dark-grey;
    color: $white;
    text-align: center;
    font-size: map-get($fs , 'md');
    margin-top: auto;
    padding: 3rem 3rem 2rem;
    position: relative;
    z-index: 1000;

    img {
        height: 2rem;
    }

    .footer__attribution {
        background-color: $orange;
        color: $black;
        display: block;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        transition: background-color $transition ease-in-out,
                    color $transition ease-in-out;
        width: fit-content;

        &:hover {
            background-color: $light-blue;
            color: $dark-grey;
        }
        
        &:focus {
            @include focus($orange, false);
            background-color: $light-blue;
            color: $dark-grey;
        }

        
        @include breakpoint(map-get($bp, 'md')) {
            width: 100%;
        }
    }

    .footer__link-wrapper {
        background-color: $light-grey;

        p {
            margin-bottom: 0.5rem;
        }
    }

    .footer__link {
        color: $light-blue;
        font-weight: 700;
        width: fit-content;
        transition: color $transition ease-in-out;

        &:hover {
            color: $orange;
        }

        &:focus {
            @include focus;
            color: $orange;
        }
    }
}
