@import '../abstracts/variables.scss';
@import '../abstracts/mixins/breakpoint.scss';
@import '../abstracts/mixins/focus.scss';

.header.container-fluid {
    align-items: center;
    background-color: $dark-grey;
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 1rem 3rem;

    @include breakpoint(map-get($project-bp, 'sm')) {
        grid-template-columns: fit-content(100%);
    }

    a {
        justify-self: self-start;
        grid-column: 1;
        transition: transform $transition ease-in-out;
        margin: -0.1rem;
        padding: 0.1rem;
        
        img {
            width: 5rem;
        }

        &:hover {
            transform: scale(1.1);
        }

        &:focus {
            @include focus($orange, true, 0.1rem);
            transform: scale(1.1);
        }
    }


    h1 {
        color: $orange;
        font-family: $project-font;
        font-size: map-get($fs , 'xl');
        font-weight: 900;
        grid-column: 2;
        margin-bottom: 0;
        white-space: nowrap;

        @include breakpoint(map-get($project-bp, 'sm')) {
            justify-self: self-start;
        }

        @include breakpoint(map-get($project-bp, 'xs')) {
            display: none;
        }
    }
}
